@using AutoOA.Core
@using AutoOA.Repository
@using AutoOA.Repository.Dto.FuelTypeDto
@using AutoOA.Repository.Dto.GearBoxDto
@using AutoOA.Repository.Dto.BodyTypeDto
@using AutoOA.Repository.Dto.VehicleDto
@using AutoOA.Repository.Dto.VehicleModelDto
@using AutoOA.Repository.Dto.VehicleBrandDto

@model IEnumerable<Vehicle>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_NiceLayout.cshtml";
}

@{

    var region = ViewBag.Regions as IEnumerable<Region>;
    var brands = ViewBag.Brands as IEnumerable<VehicleBrand>;
    var model = ViewBag.Models as IEnumerable<VehicleModel>;
    var fuel = ViewBag.FuelTypes as IEnumerable<FuelType>;
    var gear = ViewBag.GearBoxes as IEnumerable<GearBox>;
    var drive = ViewBag.DriveTypes as IEnumerable<DriveType>;
    var body = ViewBag.BodyTypes as IEnumerable<BodyType>;
    var color = ViewBag.Colors as IEnumerable<VehicleColor>;
}

<form class="search-banner text-white pm-5" enctype="multipart/form-data" method="get" id="search-banner">
    <div class="container">
        <div class="row pb-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <label asp-for="" class="control-label">Регіон</label>
                                    <select asp-for="RegionName" name="" id="" class="form-select" required>
                                        <option selected disabled>Choose...</option>
                                        @foreach (var u in region)
                                        {
                                            <option value="@u.RegionName">@u.RegionName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="RegionName" class="text-danger"></span>

                                    <select id="inputState" class="form-control">
                                        <option selected>... Select New/Used...</option>
                                        <option>New</option>
                                        <option>Used</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <select id="inputState" class="form-control">
                                        <option selected>... Select Make...</option>
                                        <option>BMW</option>
                                        <option>Audi</option>
                                        <option>Maruti</option>
                                        <option>Tesla</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <select id="inputState" class="form-control">
                                        <option selected>... Select Model...</option>
                                        <option>City</option>
                                        <option>Jazz</option>
                                        <option>Brio</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <select id="inputState" class="form-control">
                                        <option selected>... Select Location...</option>
                                        <option>New Delhi</option>
                                        <option>Banglore</option>
                                        <option>Chennai</option>
                                        <option>Jaipur</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <select id="inputState" class="form-control">
                                        <option selected>... Select Budget...</option>
                                        <option>1 Lac-5 Lac</option>
                                        <option>5 Lac-10 Lac</option>
                                        <option>10 Lac-15 Lac</option>
                                        <option>15 Lac-20 Lac</option>
                                        <option>20 Lac-25 Lac</option>
                                        <option>25 Lac & Above</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-dark">Search Car</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="text-center">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        @foreach (var u in Model)
        {
            <div class="row gy-1">
                <div class="card" style="width:400px">
                    <a href="/Vehicles/Details/@u.VehicleId" class="text-decoration-none">
                        <img class="card-img-top" style="height: 250px" src="@u.VehicleIconPath" alt=" ">
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="fw-bolder">
                                    <a href="/Vehicles/Details/@u.VehicleId" class="text-decoration-none">@u.VehicleModel.VehicleBrand.VehicleBrandName @u.VehicleModel.VehicleModelName @u.ProductionYear</a>
                                </h5>
                                <p class="text-success">@u.Price_USD $</p>
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td><img class="card-img" src="@u.FuelType.IconPath" alt="..." style="width: 1.3rem"> @u.FuelType.FuelName</td>
                                            <td><img class="card-img" src="@u.GearBox.IconPath" alt="..." style="width: 1.3rem"> @u.GearBox.GearBoxName</td>
                                        </tr>
                                        <tr>
                                            <td><img class="card-img" src="@u.BodyType.IconPath" alt="..." style="width: 1.3rem"> @u.BodyType.BodyTypeName</td>
                                            <td><img class="card-img" src="@u.MileageIconPath" alt="..." style="width: 1.3rem"> @u.Mileage км</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }       
    </div>
</div>

